/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2017, 7:51:13 PM
    Author     : Gaurav Shankar
*/
body{
    background-position: inherit;
    background-size: cover;
    background-image:url(../pic/backq.jpg) ;
}

#pod{
    text-align: center;
    padding-top: 15%;
    font-size: 35px;
    color: whitesmoke;
}
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
  color: #ccc;
}
